## Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import underthesea

## Get data

In [3]:
data  = pd.read_csv('merged_data/2025-11-07/job_data.csv')

In [5]:
data.head()

,job_id,job_title,company,salary_min,salary_max,yrs_of_exp_min,yrs_of_exp_max,job_city,due_date,jd,job_url,salary_text,company_name,company_link,updated_at,time_left,tags,location
0,1932289,IT Camera Support (Thu Nhập Upto 11 Triệu/Tháng),NaN,9.0,11.0,1.0,1.0,Hưng Yên,NaN,"Cơ sở hạ tầng IT\n- Quản lý, bảo trì, sửa chữa...",https://www.topcv.vn/viec-lam/it-camera-suppor...,9 - 11 triệu,CÔNG TY CỔ PHẦN ĐẦU TƯ THẾ GIỚI SỮA,https://www.topcv.vn/cong-ty/cong-ty-co-phan-d...,Cập nhật 33 giây trước,Còn22ngày để ứng tuyển,NaN,Hưng Yên
1,1781998,Mobile Developer Kotlin - Junior Level (Andro...,NaN,NaN,NaN,1.0,1.0,Hà Nội,NaN,Phát triển & bảo trì các ứng dụng Android (dòn...,https://www.topcv.vn/viec-lam/mobile-developer...,Thoả thuận,CÔNG TY CỔ PHẦN ĐẦU TƯ AHV HOLDING,https://www.topcv.vn/cong-ty/cong-ty-co-phan-d...,Cập nhật 2 phút trước,Còn29ngày để ứng tuyển,"Git, Android studio, Xcode (ios), 2+",Hà Nội
2,1418016,Lập Trình Viên Backend (Java Middle/Senior),FPT IS,NaN,NaN,2.0,2.0,Hà Nội,NaN,Phát triển sản phẩm phần mềm trên nền tảng Jav...,https://www.topcv.vn/brand/fptis/tuyen-dung/la...,Thoả thuận,FPT IS,https://www.topcv.vn/brand/fptis?id=198874,Cập nhật 10 phút trước,Còn23ngày để ứng tuyển,NaN,Hà Nội
3,1943602,Kỹ Sư Trí Tuệ Nhân Tạo,NaN,NaN,NaN,2.0,2.0,"Hà Nội, Hồ Chí Minh",NaN,"Nghiên cứu và phát triển thuật toán: Thiết kế,...",https://www.topcv.vn/viec-lam/ky-su-tri-tue-nh...,Thoả thuận,TẬP ĐOÀN CÔNG NGHIỆP - VIỄN THÔNG QUÂN ĐỘI,https://www.topcv.vn/cong-ty/tap-doan-cong-ngh...,Cập nhật 12 phút trước,Còn30ngày để ứng tuyển,"Xử Lý Ngôn Ngữ Tự Nhiên (nlp), Học Máy (machin...","Hà Nội, Hồ Chí Minh"
4,1942161,Mobile Game Designer,NaN,NaN,NaN,1.0,1.0,Hồ Chí Minh,NaN,We are looking for Game Designer to join our n...,https://www.topcv.vn/viec-lam/mobile-game-desi...,Thoả thuận,CÔNG TY TNHH MAPLE LABS,https://www.topcv.vn/cong-ty/cong-ty-tnhh-mapl...,Cập nhật 12 phút trước,Còn29ngày để ứng tuyển,"Làm việc nhóm, Tư duy sáng tạo, Thiết Kế Game, 2+",Hồ Chí Minh

In [17]:
df = data.copy()

In [19]:
print("\n--- BASIC DATA INFO ---")
print(df.info())
print("\n--- MISSING VALUES ---")
print(df.isna().sum())
print("\n--- BASIC STATS (Salary) ---")
print(df.describe())
print("\n--- TOP COMPANIES ---")
print(df["company_name"].value_counts().head(10))
print("\n--- TOP JOB TITLES ---")
print(df["job_title"].value_counts().head(10))

--- BASIC DATA INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526 entries, 0 to 1525
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_id          1526 non-null   int64
 1   job_title       1526 non-null   object
 2   company         79 non-null     object
 3   salary_min      639 non-null    float64
 4   salary_max      809 non-null    float64
 5   yrs_of_exp_min  1243 non-null   float64
 6   yrs_of_exp_max  1278 non-null   float64
 7   job_city        1443 non-null   object
 8   due_date        43 non-null     object
 9   jd              1412 non-null   object
 10  job_url         1526 non-null   object
 11  salary_text     1526 non-null   object
 12  company_name    1526 non-null   object
 13  company_link    1526 non-null   object
 14  updated_at      1526 non-null   object
 15  time_left       1526 non-null   object
 16  tags            1309 non-null   object
 17  location        1526 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 214.7+ KB
None

--- MISSING VALUES ---
job_id               0
job_title            0
company           1447
salary_min         887
salary_max         717
yrs_of_exp_min     283
yrs_of_exp_max     248
job_city            83
due_date          1483
jd                 114
job_url              0
salary_text          0
company_name         0
company_link         0
updated_at           0
time_left            0
tags               217
location             0
dtype: int64

--- BASIC STATS (Salary) ---
             job_id     salary_min     salary_max  yrs_of_exp_min  \
count  1.526000e+03     639.000000     809.000000     1243.000000
mean   1.811290e+06     752.566510     835.365884        2.436042
std    2.518269e+05   18575.757527   22929.108938        1.194346
min    7.406300e+04       1.000000       1.000000        1.000000
25%    1.819168e+06      10.500000      18.000000        2.000000
50%    1.915502e+06      15.000000      26.000000        2.000000
75%    1.931736e+06      20.000000      36.000000        3.000000
max    1.943985e+06  469584.000000  652200.000000        5.000000

       yrs_of_exp_max
count     1278.000000
mean         2.255869
std          1.119112
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          5.000000

--- TOP COMPANIES ---
company_name
FPT Software                                        49
Ngân Hàng TMCP Việt Nam Thịnh Vượng (VPBank)        19
CÔNG TY CỔ PHẦN CÔNG NGHỆ ALPHAWAY                  18
CÔNG TY CỔ PHẦN TƯ VẤN CÔNG NGHỆ NGS                18
Công ty cổ phần Hạ tầng Viễn thông CMC Telecom      17
FPT IS                                              16
Công ty Cổ phần Hệ thống Công nghệ ETC              16
Công ty CP Giải pháp Thanh toán Việt Nam (VNPAY)    14
NGÂN HÀNG TMCP QUÂN ĐỘI – MBBANK                    13
Công ty Cổ phần MISA                                11
Name: count, dtype: int64

--- TOP JOB TITLES ---
job_title
Business Analyst       18
Product Owner          14
Project Manager        13
Java Developer         13
Data Engineer          12
Nhân Viên IT           11
AI Engineer            10
DevOps Engineer         9
Fullstack Developer     7
Manual Tester           7
Name: count, dtype: int64

In [6]:
data.describe()

,job_id,salary_min,salary_max,yrs_of_exp_min,yrs_of_exp_max
count,1.526000e+03,639.000000,809.000000,1243.000000,1278.000000
mean,1.811290e+06,752.566510,835.365884,2.436042,2.255869
std,2.518269e+05,18575.757527,22929.108938,1.194346,1.119112
min,7.406300e+04,1.000000,1.000000,1.000000,1.000000
25%,1.819168e+06,10.500000,18.000000,2.000000,1.000000
50%,1.915502e+06,15.000000,26.000000,2.000000,2.000000
75%,1.931736e+06,20.000000,36.000000,3.000000,3.000000
max,1.943985e+06,469584.000000,652200.000000,5.000000,5.000000